<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009340811894-jh2ld6fo8jrpeb3pcekdjv4n22tdaa67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009340811894-jh2ld6fo8jrpeb3pcekdjv4n22tdaa67</string>
	<key>API_KEY</key>
	<string>AIzaSyAaBcTjOU3CrU3W0OXSx-7_q_oLNU6W3XE</string>
	<key>GCM_SENDER_ID</key>
	<string>1009340811894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.intelligentEducation</string>
	<key>PROJECT_ID</key>
	<string>councellingapp-10dca</string>
	<key>STORAGE_BUCKET</key>
	<string>councellingapp-10dca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009340811894:ios:ec14049ef3abfd122eed57</string>
</dict>
</plist>